<div class="comments">
		  <% comments.includes([:post], [:author]).each do |comment| %>
		  <div class="comment_container">
				<div>
					<span>
					 <%= comment.author.name %> :
					</span>
					<%= comment.text %>
				</div>
				<%= button_to 'Delete', user_post_comment_path(comment.post.author, comment.post.id, comment.id), method: :delete, class: 'btn btn-outline-dark' %>
			</div>
			<br>
		<% end %>
</div>

