<li>
  <h4><%= link_to post.title, user_post_path(post.author, post.id) %></h4>
  <p><%= post.text %></p>
  <small>
    Comments: <%= post.comments_counter %>, 
    <span>Likes: <%= post.likes_counter %></span>
 </small>
</li>
